#header{
  font-family: 'Mountains of Christmas', cursive;
  font-size: 500px;
  font-weight: bold;
  letter-spacing: 5px;
}

#serving{
  line-height: 300px;
  font-size: 300px;
  font-size: 80px;
  font-family: 'Mountains of Christmas', cursive;
}

#ingredients{
  line-height: 300px;
  font-size: 300px;
  font-family: 'Mountains of Christmas', cursive;

}

#instructions{
  font-size: 600px;
  line-height: 600px;
  font-family: 'Mountains of Christmas', cursive;
}

#home{
  font-size: 300px;
  font-size: 30px;
  font-family: 'Mountains of Christmas', cursive;
}