

h1 {
	text-align: center;
	font-family: 'Codystar', sans-serif;
	font-size: 60px;
}

.sorting {
	font-family: 'Ariel', sans-serif;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 50px;
	font-size: 15px;
	text-decoration: none;
	background-color: lightgrey;
	border: dotted black 3.5px;
}

.sorting:visited {
	color: black;
}

#sortingcontainer {
	text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 5%;
}

.genre {
	text-align: center;
	font-family: 'Codystar', sans-serif;
	font-size: 30px;
	cursor: pointer;
}

img {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
	cursor: pointer;

}

.genrelinks{
	text-align: center;
	font-family: 'Ariel', sans-serif;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 50px;
	font-size: 15px;
	border: dotted black 3.5px;
}




























/*.material {
	display: none;
	height: 300px;
	width: 300px;
	background-color: grey;
	border: 2px solid black;
}

*/

/*#object1 {
height: 30px;
}

#object2 {
	left: 500px;
	top: 140px;
	height: 300px;
	width: 300px;
	background-color: lightgrey;
	border: solid black 2px;
}

#object3 {
	left: 500px;
	top: 140px;
	height: 300px;
	width: 300px;
	background-color: lightgrey;
	border: solid black 2px;
}

#object4 {
	left: 70px;
	top: 150px;
	height: 300px;
	width: 300px;
	background-color: lightgrey;
	border: solid black 2px;
}

#object5 {
	left: 70px;
	top: 150px;
	height: 300px;
	width: 300px;
	background-color: lightgrey;
	border: solid black 2px;
}

#object6 {
	left: 70px;
	top: 150px;
	height: 300px;
	width: 300px;
	background-color: lightgrey;
	border: solid black 2px;
}

#object7 {
	left: 70px;
	top: 150px;
	height: 300px;
	width: 300px;
	background-color: lightgrey;
	border: solid black 2px;
}

#object8 {
	left: 70px;
	top: 150px;
	height: 300px;
	width: 300px;
	background-color: lightgrey;
	border: solid black 2px;
}

#object9 {
	left: 70px;
	top: 150px;
	height: 300px;
	width: 300px;
	background-color: lightgrey;
	border: solid black 2px;
}

#object10 {
	left: 70px;
	top: 150px;
	height: 300px;
	width: 300px;
	background-color: lightgrey;
	border: solid black 2px;
}

*/